{% extends 'shopapp/base.html' %}

{% block title %}
  О нас
{% endblock %}

{% block login %}
    {% if user_name == "" %}
        <p>
            <a href="/login/" class="nav-link"><input type="submit" value="вход"></a>
            <a href="/registration/" class="nav-link"><input type="submit" value="регистрация"></a>
        </p>
    {% else %}
        <p>{{ user_name }} <a href="/greeting/" class="nav-link"><input type="submit" value="выйти"></a></p>
    {% endif %}
{% endblock %}

{% block content %}
  <p style="font - size: 32px;">Это как бы интернет-магазин...</p>
  <p style="font - size: 32px;">Разработчик: Айваз Гареев</p>
{% endblock %}