{% extends 'shopapp/base.html' %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block login %}
    {% if user_name == "" %}
        <p>
            <a href="/login/" class="nav-link"><input type="submit" value="вход"></a>
            <a href="/registration/" class="nav-link"><input type="submit" value="регистрация"></a>
        </p>
    {% else %}
        <p>{{ user_name }} <a href="/greeting/" class="nav-link"><input type="submit" value="выйти"></a></p>
    {% endif %}
{% endblock %}

{% block content %}
  <table>
      <tr>
            <th width="150">{{ product.name }}</th>
      </tr>
      <tr>
            <th width="150"><img src="{% static product.image %}" alt="Фото товара" width="300"></th>
      </tr>
      <tr>
            <th width="150">{{ product.description }}</th>
      </tr>
      <tr>
            <th width="150">{{ product.price }}</th>
      </tr>
      {% if message %}
      <tr>
            <th width="150">
                <div class="row fixed-bottom modal-footer" style="color:red">
                    <hr><p>{{ message }}</p>
                </div>
            </th>
      </tr>>
      {% endif %}
      <tr>
            <th width="150">
                <a href="/order_access/{{ product.id }}/" class="nav-link" ><input type="submit" value="Оформить заказ"></a>
            </th>
      </tr>
  </table>
{% endblock %}